<div class="row">
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		Telephone Directory
	  </nb-card-body>
	  </nb-card>
  </div>
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		O&M
	  </nb-card-body>
	  </nb-card>
  </div>
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		Online Reporting System
	  </nb-card-body>
	  </nb-card>
  </div>
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		Census Management System
	  </nb-card-body>
	  </nb-card>
  </div>
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		All Cadre
	  </nb-card-body>
	  </nb-card>
  </div>
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		PMIS
	  </nb-card-body>
	  </nb-card>
  </div>
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		Exam Typing
	  </nb-card-body>
	  </nb-card>
  </div>
  <div class="col-lg-3">
	  <nb-card>
	  <nb-card-body>
		Car Loan
	  </nb-card-body>
	  </nb-card>
  </div>
</div>
